# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
executors: # a reusable executor
  node:
    docker:
      - image: circleci/node:latest
jobs:
  test:
    executor: node
    steps:
      - checkout
      - run: npm i
      - run: npm run test
workflows:
  version: 2
  test:
    jobs:
      - test
      